[submodule ".tmux/plugins/tmux-onedark-theme"]
	path = .tmux/plugins/tmux-onedark-theme
	url = https://github.com/odedlaz/tmux-onedark-theme.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule ".fzf"]
	path = .fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
