[user]
	name = Christopher Aubut
  email = christopher@aubut.me
[includeIf "gitdir:~/Documents/work/"]
  path = ~/Documents/work/.gitconfig
[mergetool "nvim"]
  cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"
[merge]
  tool = nvim
[mergetool]
  prompt = false
[pull]
  ff = only
[push]
  autoSetupRemote = true
